<div class="card col-5 m-3" >
  <h5 class="card-header">
    <img class="rounded-circle" src="{{ post.user.image.url }}" alt="" width='20px', height='20px'>
    <a href="{% url 'accounts:profile' post.user.username %}">{{ post.user.username }}</a>
  </h5>
  <img src="{{ post.image.url }}" class="card-img-top" height="300px">
  <div class="card-body">
    {% if post in user.like_posts.all  %}
    <i data-id="{{ post.id }}" class="fas fa-heart fa-2x" style="color:red"></i>   
    {% else %}
    <i data-id="{{ post.id }}" class="far fa-heart fa-2x" style="color:red"></i>
    {% endif %}    
    <p class="card-text">{{ post.content }}</p>
    <p>{{ post.image }}</p>
    <p class="card-text">{{ post.created_at }}</p>
  </div>
</div>

<script>
  // 1. 누구를
  // 2. 어떻게 했을 때
  // 3. ~를 한다
</script>